body {
    margin: 0;
    padding: 0;
    font-family: 'Otomanopee One', sans-serif;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 17px;
}

h2 {
    font-size: 40px;
}


.tomato-color {
    color: #FE492E;
}

.section-one {
    display: flex;
    margin-bottom: 80px;
}

.s-one-half-width {
    width: 40%;
    padding: 5px;
    margin: 5%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, orange, tomato);
    display: inline-block;
    padding: 15px 40px;
    font-weight: 700;
    border-radius: 20px;
    margin: 20px 0px;
    color: white;
}

.section-two {
    display: flex;
    margin-bottom: 80px;
    background-image: url(shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
}

.s-two-half-width {
    width: 40%;
    margin-left: 5%;
}

.s-two-half-width img {

    width: 400px;
    height: 600px;
}

.recipies-header{

    text-align: center;
}

.flexible-container{
    
    display: flex;
    margin-bottom: 50px;
    padding: 70px;
}

.card-container{

    margin: 20px;
    
    width:30%;
    box-shadow:0px 0px 15px -1px grey;
    border-radius: 20px;


}

.inside-card {
    margin: 15px;
    text-align: center;

}
.inside-card img{
    width:100%;

}
.grey-color{
    color: grey;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}